{{#each stories}}
    <div class="col-sm-12 col-md-10 offset-md-1">
        <div class="card mb-4">
            <div class="card-body card-body--story-summary">
                <h5 class="card-title">
                    {{title}}
                    <a href="/stories/show/{{_id}}" class="a--default-style-removed"></a>
                </h5>
                {{!-- card-text--truncate fade effect reference: https://stackoverflow.com/questions/22666063/how-to-fade-the-edge-of-a-div-with-just-css --}}
                <div class="card-text card-text--truncate">
                    {{{bodyText}}}
                </div>
                <p class="card-text">
                    <small class="text-muted">by
                        <a href="/dashboard/{{user._id}}" class="a--default-style-removed card-text__a">
                            <img src="{{user.picture}}" alt="" class="rounded-circle card__avatar"> {{user.firstName}}
                            {{user.lastName}}
                        </a>
                    </small>
                </p>
            </div>
        </div>
    </div>
{{/each}}